.demoParent{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:90%;
    width:100%;
}

.demoContainer{
    height:85%;
    width:100%;
    padding-left: 10%;
    padding-right:10%;
}

.demoInfoBar{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    background-color: #E9ECEF; 
    /* margin-top: 10px;  */
    margin-bottom:30px;
    padding-top:1.5%; 
    padding-left: 10%;
    padding-right:10%;
    border:solid thin #E9ECEF; 
    /* border-radius:50px; */
    width:100%;
    height:20%;
}

.demoFooterButtons{
    display:flex;
    flex-direction:row;
    /* height:7%; */
    width:100%;
    margin-top:5%;
}

.demoFooterIcons{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    /* height:3%; */
    width:100%;
    margin-top:2%;
}

.demoFooterPrev{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100%;
    width:50%;
}

.demoFooterNext{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100%;
    width:50%;
}

.btn.btn-primary{
    /* width:200px; */
    border: solid thin #f1f1f1;
    /* border-radius:50px; */
    background: black;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.2s;
}

.btn.btn-primary.navbar-btn{
    /* width:200px; */
    border: solid thin black;
    /* border-radius:50px; */
    background: black;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.2s;
}

.btn.btn-primary:hover {
    border: solid thin black;
}

.invalidFeedback{
    color:crimson;
}

#north_american{
    display: none;
}

#not_north_american{
    display: none;
}

#live{
    display: none;
}

#exp{
    display: none;
}