.questionnaireParent{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:90%;
    width:100%;
}

.questionnaireContainer{
    height:80%;
    width:100%;
    padding-left: 10%;
    padding-right:10%;
}

.invalidFeedback{
    color:crimson;
}

.questionnaireInfoBar{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    background-color: #E9ECEF; 
    /* margin-top: 10px;  */
    margin-bottom:30px;
    padding-top:1.5%; 
    padding-left: 10%;
    padding-right:10%;
    border:solid thin #E9ECEF; 
    /* border-radius:50px; */
    width:100%;
    height:25%;
}

.questionnaireFooterButtons{
    display:flex;
    flex-direction:row;
    /* height:7%; */
    width:100%;
    /* padding-left: 10%;
    padding-right:10%; */
    margin-top:5%;

}

.questionnaireFooterIcons{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    /* height:3%; */
    width:100%;
    /* padding-left: 10%;
    padding-right:10%; */
    margin-top:2%;

}

.questionnaireFooterPrev{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100%;
    width:50%;
}

.questionnaireFooterNext{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100%;
    width:50%;
}

.btn.btn-primary{
    /* width:200px; */
    /* border: solid thin black; */
    /* border-radius:50px; */
    background: black;
    border: solid thin #f1f1f1;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.2s;
}

.btn.btn-primary:hover {
    /* background-color: #FFC107; */
    border: solid thin black;
    /* color: black; */
}

.btn.btn-primary.navbar-btn{
    /* width:200px; */
    /* border: solid thin black; */
    /* border-radius:50px; */
    background: black;
    border: solid thin black;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.2s;
}