.surveyParent{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:90%;
    width:100%;
}

.surveyContainer{
    height:85%;
    width:60%;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
}

.surveyInfoBar{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    background-color: #E9ECEF; 
    margin-top: 10px; 
    /* margin-bottom:20px;  */
    border:solid thin #E9ECEF; 
    border-radius:50px;
    width:80%;
    height:10%;
}

.surveyInfoBarRight{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #E9ECEF; 
    margin-top: 10px; 
    /* margin-bottom:20px;  */
    border:solid thin #E9ECEF; 
    border-radius:10px;
    width:90%;
    height:27%;
}

.tarea{
    margin-top: 10px; 
    /* margin-bottom:20px;  */
    border:solid thick #E9ECEF; 
    width:90%;
    height:30%;
}

.surveyAlertBar{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    background-color: #E9ECEF; 
    margin-top: 10px; 
    /* margin-bottom:20px;  */
    border:solid thin #E9ECEF; 
    border-radius:50px;
    width:80%;
    height:5%;
    visibility: hidden;
    color:crimson;
}

.surveyNameBar{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    width:5%;
    height:400px;
}

.surveyInput{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:45%;
    height:90%;
}

.surveyEmo{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    width:12%;
    height:400px;
}

.emoNames{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 60px;
}

.surveyColor{
    /* display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center; */
    /* margin-top:20px; */
    width: 350px;
    height: 400px;
    border-left:solid thin #A9A9A9;
    border-right:solid thin #A9A9A9;
}

.square_emo{
    cursor:pointer;
}

.square_emo:hover{
    outline: solid thick #FFC107
}

.square_color{
    transition:0.2s;
    cursor:pointer;
}

.square_color:hover{
    /* border:solid thick #FFC107; */
    transform: scale(1.2);
}

.colorDiv{
    height: 16.67%;
    /* width: 20%; */
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}

.surveyFooterButtons{
    display:flex;
    flex-direction:row;
    height:7%;
    width:80%;
}

.surveyFooterIcons{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height:3%;
    width:80%;
}

.surveyFooterPrev{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100%;
    width:50%;
}

.surveyFooterNext{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100%;
    width:50%;
}

.btn.btn-primary{
    width:200px;
    border: solid thin black;
    border-radius:50px;
    background: #000;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.2s;
}

.btn.btn-primary:hover {
    background-color: #FFC107;
    border: solid thin #FFC107;
    color: black;
}

.square_emo {
    height: 60px;
    width: 60px;
  }

.square_color {
    height: 50px;
    width: 50px;
 }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    .surveyColor{
        /* display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center; */
        margin-top:20px;
        width:25%;
        height:50%;
        border-right:solid thin #A9A9A9;
    }

    .square_emo {
        height: 30px;
        width: 30px;
      }

      .square_color {
        height: 25px;
        width: 25px;
      }
      .emoNames {
        height: 40px;
        width: 40px;
      }
  }